[submodule "Modules/motor_drivers"]
	path = Modules/motor_drivers
	url = git@github.com:HITSZ-WTRobot/motor_drivers.git
[submodule "Modules/HWT101CT_driver"]
	path = Modules/HWT101CT_driver
	url = git@github.com:HITSZ-WTRobot/HWT101CT_driver.git
[submodule "Modules/s-curve-planner"]
	path = Modules/s-curve-planner
	url = git@github.com:HITSZ-WTRobot/s-curve-planner
[submodule "Modules/C_Library"]
	path = Modules/C_Library
	url = git@github.com:HITSZ-WTRobot/C_Library.git
